<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <style>
      .username.ng-valid {
          background-color: lightgreen;
      }
      .username.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .username.ng-dirty.ng-invalid-minlength {
          background-color: yellow;
      }

      .email.ng-valid {
          background-color: lightgreen;
      }
      .email.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .email.ng-dirty.ng-invalid-email {
          background-color: yellow;
      }

    </style>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" />
    <link href="styles/app.css" rel="stylesheet"></link>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="myApp" class="ng-cloak">

<div class="container" ng-controller="UserController as vmAS">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="lead">Person Registration Form </span></div>
    <div>
    <div class="row">
    <div class="col-md-12">
     <label class="col-md-2" for="file">Name</label>
     <div class="col-md-7">
     <input type="text" ng-model="vmAS.person.name" name="uname" class="username form-control input-sm" placeholder="Enter your name"/>
      </div>                  
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
     <label class="col-md-2" for="file">Country</label>
     <div class="col-md-7">
     <input type="text" ng-model="vmAS.person.country" name="age" class="username form-control input-sm" placeholder="Enter your age"/>
      </div>                  
    </div>
    </div>
    <div class="row">
                          <div class="form-actions floatRight">
                              <button type="button" class="btn btn-primary btn-sm" ng-click="vmAS.add()">ADD</button>
                              <button type="button" ng-click="vmAS.reset()" class="btn btn-warning btn-sm">Reset Form</button>
                          </div>
                      </div>
    </div>
  </div>
  <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">List of Users </span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID.</th>
                              <th>Name</th>
                              <th>Address</th>
                              <th>Email</th>
                              <th width="20%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="u in vmAS.users">
                              <td><span ng-bind="u.id"></span></td>
                              <td><span ng-bind="u.name"></span></td>
                              <td><span ng-bind="u.country"></span></td>
                              <td><span ng-bind="u.email"></span></td>
                              <td>
                              <button type="button" class="btn btn-primary btn-sm" ng-click="vmAS.edit(u.id)">Edit</button>
                              <button type="button" class="btn btn-warning btn-sm" ng-click="vmAS.remove(u.id)">Del</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/angular-animate/angular-animate.js"></script>
    <script src="components/angular-aria/angular-aria.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-messages/angular-messages.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-touch/angular-touch.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/user_service.js"></script>
        <script src="scripts/controllers/user_controller.js"></script>
        <!-- endbuild -->
</body>
</html>
